.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 250px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App .nav li {
  display: inline-block;
  padding-right: 10px;
  float: left;
  text-decoration: none;
}

.App .nav a {
  color: #fff;
}

.App .nav .active {
  color: pink;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
